{
    "plugins": [
        "react-intl"
    ],
    "optional": ["es7.classProperties"],
    "extra": {
        "react-intl": {
            "messagesDir": "./dist/messages/",
            "enforceDescriptions": false
        }
    }
}
