/*
 *
 */

#Horizon {

    overflow-x: auto;
    overflow-y: hidden;
    border-left: none;
    border-right: none;

    .item {

        border-radius: 0;
        // padding-bottom: 10px;
        // border-bottom: 4px solid transparent;

        & > .label {
            float: right !important;
        }

        &:not(.control) {

            opacity: 0.5;

            &.active {
                opacity: 1;
            }

        }

        /*
         * Colors
         */
        &.teal {
            color: #444 !important;
            // border-bottom: 4px solid #00B5AD;
        }

    }

    &::-webkit-scrollbar {
        width: 2px;
        height: 2px;
    }
    &::-webkit-scrollbar-button {
        width: 0px;
        height: 0px;
    }
    &::-webkit-scrollbar-thumb {
        background: rgb(212,212,213);
        border: 0px none #ffffff;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: #555555;
    }
    &::-webkit-scrollbar-thumb:active {
        background: #000000;
    }
    &::-webkit-scrollbar-track {
        // background: #e1e1e1;
        background: transparent;
        border: 0px none #ffffff;
    }
    &::-webkit-scrollbar-track:hover {
        // background: #666666;
    }
    &::-webkit-scrollbar-track:active {
        background: #c1c1c1;
    }
    &::-webkit-scrollbar-corner {
        background: transparent;
    }

}
