/*
 *
 */

#Horizon {

    overflow-x: auto;
    overflow-y: hidden;

    .item {

        &:not(.control) {
            opacity: 0.5;

            &.active {
                opacity: 1;
            }

        }

    }

}
