#Forcept-StageBuilder {
    .ui.accordion {
        .title {
            .header {
                .right.pointing.label {
                    margin-right: 1em;
                }
            }
        }
    }
    .field {
        textarea {
            height: 6em;
            min-height: 6em;
            max-height: 18em;
        }
    }
    .FieldSettings {
        .ui.small.labeled.action.input {
            margin-bottom: 0.1rem;
        }
        .Controls {
            margin-bottom: 2rem;
            .header {
                margin-bottom: 0.4rem;
            }
            .ui.checkbox {
                display: block;
                padding: 0.3rem 0;
            }
        }
    }
    .row.StageField {
        margin-left: 26px;
        border-left: 1px solid #eee;
    }
}
