#FORCEPT-VisitHandler {

    display: flex !important;
    align-items: flex-start;
    height: 100%;
    overflow: hidden;

    & > .primary {
        flex-grow: 1;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }

    & > .sidebar {
        display: flex;
        flex-direction: column;

        width: 250px;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        background: #f8f8f8;
        // box-shadow: inset 8px 0 40px 1px rgba(0,0,0,0.1);
        border-left: 1px solid #ccc;

        & > .patient {
            flex-grow: 1;
            overflow-x: hidden;
            overflow-y: auto;

            #FORCEPT-Visit-Sidebar {
                .ui.list {
                    .item {
                        padding: 0.5em 0.75em;
                        border-color: #e5e5e5;
                    }
                }
            }
        }

        & > .controls {
            & > .ui.buttons {
                .button {
                    border-radius: 0 !important;
                }
            }
        }

    }

    #FORCEPT-Dropdown-MoveStage {
        .item {
            .ui.circular.label {
                margin-right: 15px;
            }
        }
        .item.disabled {

            opacity: 1 !important;

            & > span {
                opacity: 0.45 !important;
            }

            .ui.circular.label {
                margin-right: 25px !important;
            }
        }
    }

    .FORCEPT-FlexHeader {
        display: flex !important;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        & > div {
            flex-grow: 1;
        }

        & > .ui.header {

            margin: 0;
            padding: 0.375em;

            & > .icon {
                padding: 0;
            }

        }

        & > .aside {
            padding: 0 10px;

            & > .ui.buttons {
                margin: 10px auto;
                display: flex;
                flex-wrap: wrap;

                & > .ui.button {
                    // min-width: 25%;
                    flex-grow: 1;
                    text-align: center;
                    align-items: center;

                    @media only screen and (max-width: 767px) {
                        width: 100%;
                    }
                }
            }

        }

    }
}
